@charset "utf-8";

div,a,form,input,button {
    color: #333;
    text-decoration: none;
}
.write_wrap {
    position: relative;
    width: 100%;
    min-width: 1100px;
    margin-top: 50px;
}
.write_typing_wrap {
    position: relative;
    width: 65%;
    margin: 0 auto;
    border-top: 3px solid #333;
}
.write_title,
.write_info {
    padding: 15px;
}
.write_title dl {
    font-size: 0;
}
.write_info {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #333;
    font-size: 0;
}
.write_info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;    
}
.write_title dt,
.write_title dd,
.write_info dt,
.write_info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}
.write_title dt,
.write_info dt {
    width: 100px;
}
.write_title dd {
    width: calc(100% - 100px);
}
.write_title input[type="text"] {
    box-sizing: border-box;
    width: 75%;
}
.write_content_wrap {
    border-bottom: 1px solid #333;
}
#write_content {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
.write_btn_wrap {
    margin-top: 40px;
    font-size: 0;
    text-align: center;
}
.write_submit,
.write_cancel {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 15px;
    background: #000;
    color: #fff;    
}
.write_cancel {
    margin-left: 10px;
}